 
.GridHeader
{
	background: #ffffff;
	color: #777;
     height:20px;
	font-family:"Segoe UI",arial, "lucida grande", "lucida sans unicode", verdana, tahoma, sans-serif;
	font-size: 11px;

    padding-left:5px; 
}
.GridHeader a
{
	background: #ffffff;
	color: #777;
    height:20px;
	font-family:"Segoe UI",arial, "lucida grande", "lucida sans unicode", verdana, tahoma, sans-serif;
	font-size: 11px;
    text-decoration:none;
    padding-left:0px;
    text-align: left;
    
}
.GridRow
{
	font-family: "Segoe UI",arial, "lucida grande", "lucida sans unicode", verdana, tahoma, sans-serif;
	font-size: 11px;
    font-weight:normal;
    padding-left:0px;
    height:20px;
    vertical-align:middle;
    color: #777;
}
.GridRow a
{
	font-family: "Segoe UI",arial, "lucida grande", "lucida sans unicode", verdana, tahoma, sans-serif;
	font-size: 11px;
    text-decoration:none;
    color:#777;
    font-weight:normal;
    padding-left:0px;
    padding-right:3px;

}
.GridAlterRow
{
	font-family: "Segoe UI",arial, "lucida grande", "lucida sans unicode", verdana, tahoma, sans-serif;
	font-size: 11px;
    background: #f6f6f6;
     text-decoration: none;
    padding-left:3px;
    padding-right:3px;
    height:20px;
    vertical-align:top;
     color:#777;
   
}

.GridAlterRow a
{
	font-family: "Segoe UI",arial, "lucida grande", "lucida sans unicode", verdana, tahoma, sans-serif;
	font-size: 11px;
    background: #f6f6f6;
    text-decoration: none;
    color:#777;
    font-weight:normal;
    padding-left:3px;
    padding-right:3px;
}

.DeletedItem
{
    font-family: "Segoe UI",arial, "lucida grande", "lucida sans unicode", verdana, tahoma, sans-serif;
    font-size: 11px;
    text-decoration: line-through;
    color: #777;
    font-weight: normal;
    padding-left: 3px;
    padding-right: 3px;
     height:30px;
    vertical-align:top;
    
    
}
.GridFooterStyle
{
	font-family:"Segoe UI",arial, "lucida grande", "lucida sans unicode", verdana, tahoma, sans-serif;
    color:#777;	font-size:11px; font-weight:bold;
}
.GridFooterStyle a
{
	font-family:"Segoe UI",arial, "lucida grande", "lucida sans unicode", verdana, tahoma, sans-serif;
    color:#777;	font-size:11px; font-weight:bold;
}


.GridHeader_Blue
{
	background: #a6a6a6;
 
	color: #ffffff;
     height:30px;
	font-family:"Segoe UI",arial, "lucida grande", "lucida sans unicode", verdana, tahoma, sans-serif;
	font-size: 11px;
    font-weight:bold;
    padding-left:0px; 
    text-align: left;
    border-color:#e6e6e6;
}
.GridHeader_Blue a
{
	background:none;
	color: #ffffff;
    height:30px;
	font-family:"Segoe UI",arial, "lucida grande", "lucida sans unicode", verdana, tahoma, sans-serif;
	font-size: 11px;
    font-weight:bold;
    text-decoration:none;
    padding-left:0px;
    text-align: left;
}


.GridHeader_Gray
{
	background: #a6a6a6;
 
	color: #ffffff;
     height:30px;
	font-family:"Segoe UI",arial, "lucida grande", "lucida sans unicode", verdana, tahoma, sans-serif;
	font-size: 11px;
    font-weight:bold;
    padding-left:0px; 
    text-align: left;
    border-color:#e6e6e6;
}
.GridHeader_Gray a
{
	background:none;
	color: #ffffff;
    height:30px;
	font-family:"Segoe UI",arial, "lucida grande", "lucida sans unicode", verdana, tahoma, sans-serif;
	font-size: 11px;
    font-weight:bold;
    text-decoration:none;
    padding-left:0px;
    text-align: left;
}



.FooterStyle {background-color:#938ede; height:20px;}
.PagerStyle table { margin:auto;border:none;}
 
 tr.PagerStyle {background-color:#ffffff;border-color:#ddd;}
 
.PagerStyle table td {border:1px; padding:5px;}

.PagerStyle a
{
    border: 1px solid #fff;
    padding: 2px 5px 2px 5px;
    color: #333;
    text-decoration: none;
    
}
 
.PagerStyle span {padding:2px 5px 2px 5px; color:#000; font-weight:bold; border:2px solid #8ebc00;background-color:#8ebc00;border-radius: 13px;color:#ffffff;}