﻿ .level1
        {
            color: #2E4d7B;
            background-color: white;
            font-family:Arial, Medium
            font-size:medium;
            font-weight:normal;
           
        }

        .level2
        {
            color: #2E4d7B;
            background-color: white;
            font-family:Arial, Medium
            font-size:medium;
            font-weight:normal;
            
            
        }

        .level3
        {
            color: #2E4d7B;
            background-color: white;
            font-family: "Segoe UI", Verdana,Arial,sans-serif;
            font-size:medium;
            font-weight:normal;
        }
        
         .level4
        {
            color: #2E4d7B;
            background-color: white;
            font-family: "Segoe UI", Verdana,Arial,sans-serif;
         
            font-weight:normal;
        } 

        .hoverstyle
        {
            font-weight: bold;
            color:#D3DEEF
          
        }
       
       .lblCaption
        {
            color:#02a0e0;   
            font-weight:normal;
            font-size:12px;
             font-family: "Segoe UI", Verdana,Arial,sans-serif;
            border-radius:0px;   
            
           
        }
       .lblCaption1
        {
            color:#005c7b;   
            font-weight:normal;
            font-size:12px;
            font-family: "Segoe UI", Verdana,Arial,sans-serif;
            border-radius:0px;   
            
           
        }


       
        .button1
{
         color:#FFFFFF;
          font: bold 84% "Segoe UI", Verdana,Arial,sans-serif;;
          background-color:#4fbdf0;
          border: 1px solid;
          border-color:#ffffff;
          letter-spacing:1px;
          height:25px;
          FONT-SIZE: 11px;
}

        .PageHeader
        {
            font-family: 'Arial', Times, serif; font-size: 15px; font-weight: bold;color:#2078c0; text-align: left;
        }
        .button1Click
        {
                 color:#4fbdf0;
                  font: bold 84% 'trebuchet ms',helvetica,sans-serif;
                  background-color:#ffffff;
                  border: 1px solid;
                  border-color:#4fbdf0;
                  letter-spacing:1px;
                  height:25px;
                  FONT-SIZE: 11px;
        }

/* To style Ajax Tabs*/
.ajax__tab_yuitabview-theme .ajax__tab_header 
{
    font-family:arial,helvetica,clean,sans-serif;
    font-size:small;
    border-bottom:solid 1px #FF8C27;
    letter-spacing:1px;
    
  
}
.ajax__tab_yuitabview-theme .ajax__tab_header .ajax__tab_outer 
{
    margin:0px 0.16em 0px 0px;
    padding:1px 0px 1px 0px;
    vertical-align:bottom;
    border:solid 1px #E3E3E3;
    border-bottom-width:0px;
    
   
}
.ajax__tab_yuitabview-theme .ajax__tab_header .ajax__tab_tab
{    
    color:#ffffff;
    padding:0.35em 0.75em;    
    margin-right:0.01em;
    height:17px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:9pt;
    font-weight:normal;
    letter-spacing:0px;
    background-color:#E3E3E3;
    border-color:#E3E3E3;
}
.ajax__tab_yuitabview-theme .ajax__tab_hover .ajax__tab_outer 
{
     
    filter:progid:DXImageTransform.Microsoft.Gradient
          (GradientType=0,StartColorStr='#ffffff',EndColorStr='#ffffff');
    
}
.ajax__tab_yuitabview-theme .ajax__tab_active .ajax__tab_tab 
{
        color:black;
        background-color:#FF8C27;
          border-bottom:solid 0px #FF8C27;
}
.ajax__tab_yuitabview-theme .ajax__tab_active .ajax__tab_outer
{
 
     filter:progid:DXImageTransform.Microsoft.Gradient
          (GradientType=0,StartColorStr='#4fbdf0',EndColorStr='#E3E3E3');
}

.ajax__tab_yuitabview-theme .ajax__tab_inactive .ajax__tab_outer
{
    
}


.ajax__tab_yuitabview-theme .ajax__tab_body 
{
    font-family: Arial, Helvetica, sans-serif;
    font-size:10pt;
    padding:0.25em 0.5em;
    background-color:#FF8C27;    
    border:solid 1px #FF8C27;
    border-top-width:0px;

}
/* To style Ajax Tabs Ends*/


 .TabButtonBlue
{
          color:#666;
            font-family: Arial, Helvetica, sans-serif;
          background-color:#E3E3E3;
          border-color:#E3E3E3;
          border: 1px solid;
          border-color:#ffffff;
          letter-spacing:1px;
          height:30px;
          FONT-SIZE: 11px;
          cursor:pointer;
}
  .TabButtonWhite
{
          color:#FFFFFF;
           font-family: Arial, Helvetica, sans-serif;
          background-color:#FF8C27;
          border-color:#FF8C27;
          border: 1px solid;
          letter-spacing:1px;
          height:30px;
          FONT-SIZE: 11px;
          cursor:pointer;
}


  
/* To style Ajax Tabs*/
.AjaxTabStyle .ajax__tab_header 
{
    font-family:arial,helvetica,clean,sans-serif;
    font-size:small;
    border:solid 1px #FF8C27;
    letter-spacing:1px;
     border-color:#666;
    border-radius:5px 5px 5px 5px;
}
.AjaxTabStyle .ajax__tab_header .ajax__tab_outer 
{
    margin:0px 0.16em 0px 0px;
    padding:1px 0px 1px 0px;
    vertical-align:bottom;
    border:solid 1px #E3E3E3;
    border-bottom-width:0px;
    
   
}
.AjaxTabStyle .ajax__tab_header .ajax__tab_tab
{    
      color:#666;
    padding:0.35em 0.75em;    
    margin-right:0.01em;
    height:17px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:9pt;
    font-weight:normal;
    letter-spacing:0px;
    background-color:#E3E3E3;
    border-color:#E3E3E3;
}
.AjaxTabStyle .ajax__tab_hover .ajax__tab_outer 
{
     
    filter:progid:DXImageTransform.Microsoft.Gradient
          (GradientType=0,StartColorStr='#ffffff',EndColorStr='#ffffff');
    
}
.AjaxTabStyle .ajax__tab_active .ajax__tab_tab 
{
        color:#ffffff;
        background-color:#FF8C27;
          border-bottom:solid 0px #FF8C27;
}
.AjaxTabStyle .ajax__tab_active .ajax__tab_outer
{
 
     filter:progid:DXImageTransform.Microsoft.Gradient
          (GradientType=0,StartColorStr='#E3E3E3',EndColorStr='#E3E3E3');
}

.AjaxTabStyle .ajax__tab_inactive .ajax__tab_outer
{
    
}

 
/* To style Ajax Tabs Ends*/

.TDStyle
{
    color: #005c7b;
    font-weight: normal;
    font-size: 12px;
    font-family: "Segoe UI", Verdana,Arial,sans-serif;
    border-radius: 0px;
    background-color: #f6f6f6;
    height: 25px;
    vertical-align: central;
    padding: 5px;
}


.ReportHeader
{
    color: #2078c0;
    /*color: #000;*/
    font: "Segoe UI", Verdana,Arial,sans-serif;
    font-size:20px;
   
}


.ReportHeaderDiv
{
   padding-bottom: 2px;
   border-bottom: 4px solid #92c500;
   /*border-bottom: 4px solid #808080;*/
  float: left;
}

.ReportCaption
{
    color: #005c7b;
    /*color: #000;*/
    font-weight: normal;
    font-size: 12px;
    font-family: "Segoe UI", Verdana,Arial,sans-serif;
    border-radius: 0px;
}