﻿@import url("reset.css");
	
body.login {
    background: url(images/login_bg.jpg) #4290d2;
}
body.home, body.dashboard {
	font-size:13px;
	color:#135a94;
}

.box {}
.box .box-title {}
.box .box-content p {text-align:justify;}
.full { width:100%; }

/* Site Style Starts */
.home #header {
	background: url(images/header_bg.png);
	height:100px;
	border-top:1px solid #fff;
}
.home #header .shell.header {
	position:relative;
}
.home #header #site-info {    
	color:#fff;
}
.home #header #site-title {
	font-size:24px;
	text-shadow:1px 1px 0px #777777;
	padding-top:5px;
}
.home #header #welcome-info {
	position:absolute;
	right:0px;
	top:0px;
	background: #fff;
	height:25px;
	width:350px;
	padding:10px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	box-shadow:1px 1px 1px #888;
}
.home #header #welcome-info .username {
	line-height:25px;
	padding-right:10px;
	float:left;
}
.home #header #welcome-info a.button {
	display:inline-block;
	float:right;
}
.dashboard #header {
	background: url(images/header_bg.png);
	height:100px;
	border-top:1px solid #fff;
}
.dashboard #header .shell.header {
	position:relative;
}
.dashboard #header #site-info {    
	color:#fff;
    float:left;
}
.dashboard #header #site-title {
	font-size:18px;
	text-shadow:1px 1px 0px #777777;
	padding-top:5px;
}
.dashboard #header #site-slogan { display:none; }
.dashboard #header #welcome-info {
	position:absolute;
	right:0px;
	top:95px;
	height:25px;
    color:#fff;
}
.dashboard #header #welcome-info .username {
	line-height:25px;
	padding-right:10px;
	float:left;
    font-size:12px;
}
.dashboard #header #welcome-info a.button {
	display:inline-block;
	float:right;
}

#menubar {
	background: url(images/menubar-bg.jpg);
	height:36px;
}

ul#menus {
	float:left;
	height:36px;
}
ul#menus li.menu {
	float:left;
	height:36px;
}
ul#menus li.menu.current {
	/*background: url(images/current-menu-pointer.png) bottom center no-repeat;*/
}
ul#menus li.menu a {
	color:#fff;
	font-size:13px;
	display:block;
	padding: 4px 30px;
	line-height: 28px;
	text-decoration:none;
	position:relative;
	border-left:1px solid #03a1e0;
	min-width:70px;
}
ul#menus li.menu a:hover {				
	background: url(images/current-menu-pointer.png) bottom center no-repeat;
}
ul#menus li.menu a img {
	height:24px;
	width:24px;
	position:absolute;
	right:10px;
	top:6px;
}

#content .shell {padding:20px 0px;}

.shell .box .box-header {
	border-bottom: 4px solid #f4fbfd;
	height:41px;
}
.shell .box .box-header .box-title {
	padding-bottom:10px;
	border-bottom:4px solid #92c500;
	float:left;
	font-size:1.8em;
	color:#2078c0;
}
#content > .shell .box .box-content {
	/*clear:both;*/
	padding-top:15px;
}
.table, .table.grid {
    width:100%;
}
.table.spacy th { font-weight: bold; }
.table.spacy tbody td {
    height:36px;
}
.table.grid thead th, .table.grid tfoot th {
	background: url(images/thead-bg.jpg);
	height:36px;
	text-align:center;
	color:#fff;
}
.table.grid tbody td {
	height:36px;
	text-align:center;
}
.table.grid tbody tr:nth-child(even) {
	background-color:#f0f0f0;
}
.table.grid tbody tr.selected td { background-color:#c5e26d; }
table.k-focusable tbody tr td.k-state-focused, 
table.k-selectable tbody tr td.k-state-selected {
    background-color: #c5e26d;
}
.k-grid-content {
    font-size:12px;
}
fieldset {
    border: 1px solid #dbdbdb;
    padding: 5px 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 1px 1px 10px 1px #dbdbdb inset;
}
fieldset legend {
    font-weight:bold;
}
fieldset input, fieldset select {
    padding:2px;
}

.home #wrapper {
}
.home .shell, .dashboard .shell {
	min-width:960px;
	margin:0 25px;
}
/* Site Style Ends */
/* Dashboard Style starts */
.patient-header {position:relative;}
#opd-assessment-status {position:absolute; right:0;top:0;}
#opd-assessment-status a {color:#ff0000;}
.patient-right-container { margin-left:200px; }

#patient-photo-container {
	width:220px;
	float:left;
}

#patient-photo-frame {
	width:135px;
	height:145px;
	border:1px solid #f0f0f0;
}

#patient-photo {
	width:125px;
	height:125px;
	border:2px solid #fff;
}

#patient-slide-links {
	width:125px;
}
#prev-patient-link {float:left;}
#next-patient-link {float:right;}

#patient-info-container { margin:10px 0px 0px 130px; color:#fff; font-size:11px;}
#patient-info-container table.table {
    /*height:135px; */
}
#patient-dashboard-header { padding-bottom:25px; display:none;/*border-bottom:1px solid #f0f0f0;*/ }
			
#patient-dashboard-container {/*clear: both;padding-top:5px;*/}
#patient-dashboard-content {}
#patient-dashboard-content .box-header { position:relative; }
#patient-dashboard-content .box-header .submit-button { position:absolute; right:10px; top:0px; }
#patient-dashboard-content .box-header #page-status { 
    position:absolute; 
    right:0px; 
    bottom:-5px; 
    font-size:12px; 
    background-color:yellow; 
}

#patient-nav-container {float:left;width:180px;height:auto;}

#patient-nav-list {}
.patient-nav {}
.patient-nav-link {
	width:160px;
	height:33px;
	line-height: 33px;
	position:relative;
	display:block;
	border: 1px solid #dbdbdb;
    border-top:0px;
	text-decoration: none;
    color:#005c7b;
}
.patient-nav:first-child .patient-nav-link {
    border-top: 1px solid #dbdbdb;
}
.patient-nav-link .patient-nav-text {
	padding-left: 35px;
}
.patient-nav-link:hover {
	background-color: #08a;
	color:#fff;
}
.patient-nav-link img {
	position:absolute;
	width:24px;
	height:24px;
	top: 8px;
	left: 3px;
}


.column { width: 50%; float: left; padding-bottom: 10px; }
.portlet { margin: 0 1em 1em 0; }
.portlet-header { margin: 0.3em; padding-bottom: 4px; padding-left: 0.2em; color:#005c7b;}
.portlet-header .ui-icon { float: right; }
.portlet-content { padding: 0.4em; font-size:12px;}
.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
.ui-sortable-placeholder * { visibility: hidden; }
.patient-history-segment-content .patient-history-fields .history-comment {
    width:100%;
    padding:2px;
    font-size:11px;
    height:40px;
}
.ui-helper-clearfix:after { clear: none !important;}
.ui-tabs .ui-tabs-panel { padding: 3em 1.4em 1em 1.4em !important;}
/* Dashboard Style ends */

.box {}
.box .box-title {}
.box .box-content p {text-align:justify;}

/* Form Style Starts */
.form { font-size:12px; }
.form input[type="text"], .form input[type="password"] {
	padding:3px;
	border:1px inset;
}
.form input.small { width:60px; }
.form input.medium { width:100px; }
.form select {
	padding:3px;
}
.form input[type="button"] {border:none;}
input[type="text"].calendar {
	background-image: url(images/icons/16x16/calendar.gif);
	background-position:right center;
	background-repeat:no-repeat;
	cursor:pointer;	
}
.form .error { font-size: 12px; }
input, textarea { font-size: 12px; }
/* Form Style Ends */

hr {
	border-color:#e2e2e2;
	border-style:solid;
	border-width:0px;
	border-top-width:1px;
	margin:7px 0px;
}

/* white */
.white {
	color: #003367;
	border: solid 1px #bdbdbd;
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#d5d5d5));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.white:hover {
	color: #434343;
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white:active {
	color: #727272;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
	background: -moz-linear-gradient(top,  #ededed,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}
 
/* orange */
.orange {
	color: black;
	border: solid 1px;
   border-radius: 5px;
    border-color:gray;
	background: #E3E3E3;
	background: -webkit-gradient(linear, left top, left bottom, from(#E3E3E3), to(#E3E3E3));
	background: -moz-linear-gradient(top,  #E3E3E3,  #E3E3E3);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#E3E3E3', endColorstr='#E3E3E3');
    font-weight:bold;
}
.orange:hover {
	background: #E3E3E3;
	background: -webkit-gradient(linear, left top, left bottom, from(#E3E3E3), to(#E3E3E3));
	background: -moz-linear-gradient(top,  #E3E3E3,  #E3E3E3);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#E3E3E3', endColorstr='#E3E3E3');
}
.orange:active {
	color: #E3E3E3;
	background: -webkit-gradient(linear, left top, left bottom, from(#E3E3E3), to(#E3E3E3));
	background: -moz-linear-gradient(top,  #E3E3E3,  #E3E3E3);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#E3E3E3', endColorstr='#E3E3E3');
} 




/* red */
.red {
	color: #fff;
	border: solid 1px #D64535;
	background: #D64535;
	background: -webkit-gradient(linear, left top, left bottom, from(#D64535), to(#D64535));
	background: -moz-linear-gradient(top,  #D64535,  #D64535);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#D64535', endColorstr='#D64535');
}
.red:hover {
	background: #D64535;
	background: -webkit-gradient(linear, left top, left bottom, from(#D64535), to(#D64535));
	background: -moz-linear-gradient(top,  #D64535,  #D64535);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#D64535', endColorstr='#D64535');
}
.red:active {
	color: #D64535;
	background: -webkit-gradient(linear, left top, left bottom, from(#D64535), to(#D64535));
	background: -moz-linear-gradient(top,  #D64535,  #D64535);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#D64535', endColorstr='#D64535');
}


/* orange */
/*
.orange {
	color: #fff;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}*/
 /* green */
 .green {
	color: #ffffff;
	border: solid 1px #a5d225;
	background: #c5e26d;
	text-shadow:0px 1px 0px rgba(222,222,222,0.8);
	background: -webkit-gradient(linear, left top, left bottom, from(#c5e26d), to(#92c500));
	background: -moz-linear-gradient(top,  #c5e26d,  #92c500);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c5e26d', endColorstr='#92c500');
}
.green:hover {
	background: #c5e26d;
	background: -webkit-gradient(linear, left top, left bottom, from(#c5e26d), to(#92c500));
	background: -moz-linear-gradient(top,  #c5e26d,  #92c500);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c5e26d', endColorstr='#92c500');
}
.green:active {
	background: #c5e26d;
	background: -webkit-gradient(linear, left top, left bottom, from(#c5e26d), to(#92c500));
	background: -moz-linear-gradient(top,  #c5e26d,  #92c500);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c5e26d', endColorstr='#92c500');
}
/* red 
.red {
	color: #faddde;
	border: solid 1px #980c10;
	background: #d81b21;
	background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
	background: -moz-linear-gradient(top,  #ed1c24,  #aa1317);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
}
.red:hover {
	background: #b61318;
	background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
	background: -moz-linear-gradient(top,  #c9151b,  #a11115);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115');
}
.red:active {
	color: #de898c;
	background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
	background: -moz-linear-gradient(top,  #aa1317,  #ed1c24);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24');
}*/
 
/* blue */
.blue {
	color: #d9eef7;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.blue:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.blue:active {
	color: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}

/* button styles
*************************************************/
.button {	
	height:30px;
	font-size:12px;
	font-weight:normal;
	text-align:center;
	line-height:30px;

	text-decoration:none;
	width:150px;
	/*letter-spacing:1px;
	border-right:1px solid #dbdbdb;
	border-left:1px solid #dbdbdb;
	border-bottom:1px solid #dbdbdb;*/
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;	
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.2);
	box-shadow: 0 1px 1px rgba(0,0,0,.2);
}
.button.small {padding-left:20px;padding-right:20px;width:auto;height:26px;line-height:26px;}
.button.lookup {padding-left:5px;padding-right:5px;width:auto;height:25px;line-height:25px;display:inline-block;}
.button.lookup .sui-icon {margin-top:5px;margin-left:5px;margin-right:-5px;}
.button.medium {padding-left:25px;padding-right:22px;width:auto;height:28px;line-height:28px;}

.button.inline {padding:5px 20px 5px 20px;}
.button.inline-block {padding-left:20px;padding-right:20px;width:auto;height:26px;line-height:26px;}
.button.default {background:url(images/menu_bg.png) repeat-x;color:#001f5b;}

 