@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body { 
  font-family: 'Open Sans', sans-serif;
  color: #666;
}

/* STRUCTURE */

#maindivcs{
	width: 100%;
	height: 100%;	
}
header {
	height: 40px;
	width:100%;
	background: #212121;
}
#redline {
	height: 5px;
	width:100%;
	background: #D64535;
}
#redboxcut {
	padding: 0px 0px 0px 0px;
	margin: 0px 10px 0px 0px;
	float: left;
}
#redbox {
	height: 33px;
	width:20%;
	background: #D64535;
	float: right;
	border-radius: 0px 0px 0px 55px;
}
#content {
	width: 280px;
	float: left;
	margin: 0px 20px 0px 0px;
}
#bgm{
	width:150px;
	height:39px;
}
#headbgm{
	float:left;
	display: block
}
#head{
	color: white;
	display: block;
	font-size: 23px;
	font-weight: 500;
	margin: 0px 30px 0px 10px;	
	padding: 0px 2px 2px 10px;
	float:left;
}
#headdetails{
	color: white;
	font-size: 17px;
	font-weight: 500;
	margin: 0px 30px 0px 10px;	
	padding: 5px 2px 2px 10px;
	float:left;
}
#headdetails1{
	color: white;
	font-size: 17px;
	font-weight: 500;
	margin: 0px 30px 0px 30px;	
	padding: 5px 2px 2px 10px;
	float:left;
}
#headimg{
	color: white;
	font-size: 17px;
	font-weight: 500;
	float:left;
}
#headimg1{
	color: white;
	font-size: 17px;
	font-weight: 500;
	float:left;
}
#dd{
	width:12px;
	height:12px;
}
#dd1{
	width:40px;
	height:30px;
	padding: 5px 2px 2px 10px;	
}
#dd11{
	width:40px;
	height:40px;
}
#bl{
	color: blue;
}
#right{
	float:right;
}
#searchdiv {
	height: 60px;
	padding: 0 15px;
	float: left;
	width: 70%;
	border-radius: 0px 0px 25px 25px;
}

#smallbox {
	height: 70px;
	padding: 0 15px;
	float: left;
	width: 50px;
	margin: 0px 10px 0px 0px;
}

#smallmedbox {
	height: 110px;
	padding: 0 15px;
	width: 95px;
	margin: 0px 10px 0px 10px;
	background: #E3E3E3;	
}

#news{
	color: rgba(228, 148, 7, 1);
	padding: 20px 65px 20px 50px;
	font-family: inherit;
	font-size: 20px;
	
}

#src{

	height:50px;
	float: left;
	width: 75%;
	border-radius: 0px 0px 50px 50px;
	background: #E3E3E3;
	color: white;
	display: block;
	font-size: 18px;
	font-weight: 500;
	padding: 10px 10px 10px 40px;
	
}


#vmenu{
	float: left;
}

#medbox {
	height:30px;
	float: left;
	width: 20%;
	border-radius: 0px 50px 0px 0px;
	background: #D54635;
	color: white;
	display: block;
	font-size: 18px;
	font-weight: 500;
	padding: 0px 0px 0px 15px;
	
}

#formdiv{
	float: left;
	width: 85%;	
}

#maindiv {
	float: left;
	width: 75%;
}

#fromDesign {
	width: 570px;
	float: none;
	padding: 50px 50px;
	margin: 5% 10% 10% 15%;
}

hr {
	float: left;
	width: 75%;
    display: block;
    position: relative;
	padding: 0 15px;
    margin: 0px 10px 10px 10px;
    height: 10px;
    max-height: 10px;
    line-height: 10px;
    border: none;
    border-top: 5px solid #f8f8f8;
    border-bottom: 5px solid #f8f8f8;
}

#tabhr {
	width: 100%;
    display: block;
    position: relative;
	padding: 0 15px;
    margin: 0px 10px 10px 10px;
    height: 10px;
    max-height: 10px;
    line-height: 10px;
    border: none;
    border-top: 5px solid green;
    border-bottom: 5px solid; 
	width: 70%;
    display: block;
    position: relative;
	padding: 0 15px;
    margin: 0px 10px 10px 10px;
    height: 10px;
    max-height: 10px;
    line-height: 10px;
    border: none;
    border-top: 5px solid green;
    border-bottom: 5px solid green;;	
}
footer {
	clear: both;
	padding: 0 15px;
}

h5 {
    padding:10px;
	margin:10px;
    color: lightgreen;
    text-transform:uppercase;
}

a{
	text-decoration: none;	
}

p {
    padding: 7px 0 7px 0;
    font-size: 15px;
    font-weight: 500;
}

#viewtable{
	width:100%;
	background: lightgrey;
	height:200px;
}

#viewtable1{
	width:10%;
	background: red;
	height:200px;
}
#viewtablesmall{
	width:100%;
	background: green;
	height:100px;
}
#viewtablesmall1{
	width:100%;
	background: pink;
	height:100px;
}
/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */
@media screen and (max-width: 980px) {
	
	#content {
		width: 70%;
		padding: 1% 4%;
	}
	#fromDesign {
		width: 70%;
		float: left;
		padding: 1% 4%;
	}

	header, footer {
		padding: 1% 4%;
	}
	
}

/* for 700px or less */
@media screen and (max-width: 600px) {

	#content {
		width: auto;
		float: none;
	}
	
	#fromDesign {
		width: auto;
		float: none;
	}

}

/* for 480px or less */
@media screen and (max-width: 480px) {

	header {
		height: auto;
	}
	h1 {
		font-size: 2em;
	}
	#fromDesign {
		width: auto;
		float: none;
	}
	select.selmenu {
		width: 190px;
	}
}



#result, #fromDesign, #search , #smallbox, #maindiv, #formdiv  {
	background: #f8f8f8;
}
#sidebar {
	background: #f0efef;
}
header, #result, #fromDesign, #search, #smallbox, #maindiv,#smallmedbox,#formdiv  {
	margin-bottom: 5px;
}

header, #result, #fromDesign, footer, #search, #smallbox, #maindiv , #medbox,#smallmedbox,#formdiv {
	border: solid 1px #ccc;
}


/***** Vertical Menu bar  *********/

* {
  margin: 0px;
  padding: 0px;
 
}
 
nav {
  line-height: 1.5;
  width: 275px;
  margin: 50px auto; /*for display only*/
  margin-top:10px;
}
 
.menu-item {
  background: #fff;
  width: 275px; 
}

/*Menu Header Styles*/
.menu-item h4 {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  padding: 7px 12px;
  background: #D54635;
}

.menu-item h4 a {
  color: white;
  display: block;
  text-decoration: none;
  width: 200px;
}

.menu-item h4 {
  border-bottom: 1px solid rgba(0,0,0,0.3);
  border-top: 1px solid rgba(255,255,255,0.2);
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  padding: 7px 12px;
  
 }

 .menu-item h4:hover {  
  background: #FF8C27; /* Old browsers */
}



/*First Item Styles*/
.alpha p {
 font-size: 13px;
 padding: 8px 12px;
 color: #aaa;
}


/*ul Styles*/
.menu-item ul {
  background: #fff;
  font-size: 14px;
  line-height: 30px;
  list-style-type: none;
  overflow: hidden;
  padding: 0px;
}
 
.menu-item ul a {
  margin-left: 20px;
  text-decoration: none;
  display: block;
  width: 200px;
}
 
/*li Styles*/
.menu-item li {
  border-bottom: 1px solid #eee;
}
 


/*ul Styles*/
.menu-item ul {
  background: #fff;
  font-size: 14px;
  line-height: 30px;
  height: 0px; /*Collapses the menu*/
  list-style-type: none;
  overflow: hidden;
  padding: 0px;
}


/*ul Styles*/
.menu-item ul {
  background: #fff;
  font-size: 14px;
  line-height: 30px;
  height: 0px;
  list-style-type: none;
  overflow: hidden;
  padding: 0px;
    /*Animation*/
  -webkit-transition: height 1s ease;
     -moz-transition: height 1s ease;
       -o-transition: height 1s ease;
      -ms-transition: height 1s ease;
          transition: height 1s ease;
}




.menu-item:hover ul {
  height: 106px;
}

/***************************************/

/**** Search ******/





/********************************.


/***********Tab Content*************/

/* Tab Content - menucool.com */

ul.tabs
{
    padding: 7px 0;
    margin:0;
    list-style-type: none;
    text-align: left; /*set to left, center, or right to align the tabs as desired*/
}
        
ul.tabs li
{
    display: inline;
    margin: 0;
    margin-right:3px; /*distance between tabs*/
}
        
ul.tabs li a
{
	text-decoration: none;
    position: relative;
    padding: 7px 16px;
    border: 1px solid #CCC;
    border-bottom-color:#B7B7B7;
    color: #666;
	background: #E3E3E3; /* Old browsers */
    outline:none;
}
        
ul.tabs li a:visited
{
    color: #000;
}
        
ul.tabs li a:hover
{
    border: 1px solid #B7B7B7;
	color: white;
    background:#FF8C27 url(tabbg.gif) 0 -36px repeat-x;
}
        
ul.tabs li.selected a, ul.tabs li.selected a:hover
{
    position: relative;
    top: 0px;
    background: #FF8C27;
    border: 1px solid #B7B7B7;
}
        
        
ul.tabs li.selected a:hover
{
    text-decoration: none;
}
     

div.tabcontents
{
    border: 1px solid #B7B7B7; padding: 20px;
}

/*****************************************/


/********* horizondalDropdownMenu ******/

#menu, #menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu {
    width: 100%;
    margin: 10px auto;
    //border: 1px solid #222;
	background: #E3E3E3; /* Old browsers */
}

#menu li:hover {
	background: #FF8C27; /* Old browsers */
}

#menu:before,
#menu:after {
    content: "";
    display: table;
}

#menu:after {
    clear: both;
}

#menu {
    zoom:1;
}


#menu li {
    float: left;
    //border-right: 1px solid #222;
    //box-shadow: 1px 0 0 #444;
    position: relative;
}

#menu a {
    float: left;
    padding: 12px 30px;
    color: #666;
    text-decoration: none;
}

#menu li:hover > a {
    color: #666;
}

*html #menu li a:hover { /* IE6 only */
    color: #666;
}



#menu ul {
    margin: 20px 0 0 0;
    _margin: 0; /*IE6 only*/
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 38px;
    left: 0;
    z-index: 1;    
	background: #E3E3E3; /* Old browsers */
    box-shadow: 0 -1px 0 rgba(255,255,255,.3);  
    border-radius: 3px;
    transition: all .2s ease-in-out;
}

#menu li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
}

#menu ul ul {
    top: 0;
    left: 150px;
    margin: 0 0 0 20px;
    _margin: 0; /*IE6 only*/
    box-shadow: -1px 0 0 rgba(255,255,255,.3);      
}

#menu ul li {
    float: none;
    display: block;
    border: 0;
    _line-height: 0; /*IE6 only*/
    box-shadow: 0 1px 0 #111, 0 2px 0 #666;
}

#menu ul li:last-child {   
    box-shadow: none;    
}

#menu ul a {    
    padding: 10px;
    width: 130px;
    _height: 10px; /*IE6 only*/
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

#menu ul a:hover {
	background: #FF8C27; /* Old browsers */
}


#menu ul li:first-child > a {
    border-radius: 3px 3px 0 0;
}

#menu ul li:first-child > a:after {
    content: '';
    position: absolute;
    left: 40px;
    top: -6px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #444;
}

#menu ul ul li:first-child a:after {
    left: -6px;
    top: 50%;
    margin-top: -6px;
    border-left: 0; 
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-right: 6px solid #3b3b3b;
}

#menu ul li:first-child a:hover:after {
    border-bottom-color: #04acec; 
}

#menu ul ul li:first-child a:hover:after {
    border-right-color: #0299d3; 
    border-bottom-color: transparent;   
}

#menu ul li:last-child > a {
    border-radius: 0 0 3px 3px;
}

/******************************************/


/************** Form ****************/

*/*Set's border, padding and margin to 0 for all values*/
{
    padding: 0;
    margin: 0;
    border: 0;
}

p {
    padding: 7px 0 7px 0;
}
a {
    color: #656565;
    text-decoration:none;
}
a:hover{
    color: #abda0f;
    text-decoration: none;
}
h1 {
    color: #888888;
    font-size:16pt;
    background: transparent url(../img/h1.png) no-repeat center left;
    padding-left:33px;
    margin:7px 5px 8px 8px;
}
h4 {
    padding:1px;
    color: #ACACAC;
	font-size: 17px;
}
form.register{
    width:100%;
    margin: 20px 0px 0px 0px;
    height:400px;
    padding:5px;
}
form p{
	font-size: 14px;
	font-weight: 500;
    clear:both;
    margin: 0;
    color:gray;
}
form.register fieldset.row1
{
    width:75%;
    padding:5px;
    float:left;
    border-top:1px solid #F5F5F5;
    margin-bottom:15px;
}
form.register fieldset.row1 label{
    width:120px;
    float: left;
    text-align: left;
    margin-right: 6px;
    margin-top:2px;
}
form.register fieldset.row2
{
    border-top:1px solid #F1F1F1;
    border-right:1px solid #F1F1F1;
    height:220px;
    padding:5px;
    float:left;
}
form.register fieldset.row3
{
    border-top:1px solid #F1F1F1;
    border-left:1px solid #F1F1F1;
    padding:5px;
    float:left;
    margin-bottom:15px;
    width:10%;
}

form.register fieldset.row4
{
    border-top:1px solid #F1F1F1;
    border-right:1px solid #F1F1F1;
    padding:5px;
    float:left;
    clear:both;
    width:500px;
}
form.register .infobox{
    float:right;
    margin-top:20px;
    border: 1px solid #F1F1F1;
    padding:5px;
    width:380px;
    height:98px;
    font-size:9px;
    background: #FDFEFA url(../img/bg_infobox.gif) repeat-x top left;
}
form.register legend
{
    color: rgba(228, 148, 7, 1);
    padding:2px;
    margin-left: 14px;
    font-weight:bold;
    font-size: 16px;
    font-weight:100;
}
form.register label{
    color:#444;
    width:98px;
    float: left;
    text-align: right;
    margin-right: 6px;
    margin-top:2px;
}
form.register label.optional{
    float: left;
    text-align: right;
    margin-right: 6px;
    margin-top:2px;
    color: #A3A3A3;
}
form.register label.obinfo{
    float:right;
    padding:3px;
    font-style:italic;
}
form.register input{
    width: 140px;
    color: #505050;
    float: left;
    margin-right: 40px;
    border-radius: 0 10px;
}
form.register input.long{
    width: 247px;
    color: #505050;
}
form.register input.short{
    width: 40px;
    color: #505050;
}
form.register input[type=radio]
{
    float:left;
    width:15px;
}
form.register label.gender{
    margin-top:-1px;
    margin-bottom:2px;
    width:34px;
    float:left;
    text-align:left;
    line-height:19px;
}
form.register input[type=text]
{
    border: 1px solid #E1E1E1;
    height: 21px;
}
form.register input[type=password]
{
    border: 1px solid #E1E1E1;
    height: 18px;
}
.button
{
    background: #abda0f url(../img/overlay.png) repeat-x;
    padding: 8px 10px 8px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    cursor: pointer;
    float:left;
    font-size:18px;
    margin:10px;
}
form.register input[type=text].year
{
    border: 1px solid #E1E1E1;
    height: 21px;
    width:30px;
}
form.register input[type=checkbox] {
    width:14px;
    margin-top:4px;
}
form.register select
{
    border: 1px solid #E1E1E1;
    width: 130px;
    float:left;
    margin-bottom:3px;
    color: #505050;
    margin-right:5px;
}
form.register select.date
{
    width: 40px;
}
input:focus, select:focus{
    background-color: #efffe0;
}
p.info{
    font-size:7pt;
    color: gray;
}
p.agreement{
    margin-left:15px;
}
p.agreement label{
    width:390px;
    text-align:left;
    margin-top:3px;
}

#cent{
	text-align: center	
}

#cente{
	text-align: center	
}

/*****************************************/


/*****************  Main Menu ***********************/

*{
	margin:0;
	padding:0;
	box-sizing:
}

ul li{
	list-style:none;
}
h1{
	padding:15px 0 25px 0;
	text-align:center;
	font-size: 15px;
	font-weight: 500;
}
.nav{
	overflow:hidden;
	margin:0 auto;
	width:950px;
}
.nav li{
	width:75px;
	height:60px;
	display:inline-block;
	float:left;
	cursor:pointer;
	transition:all 0.4s;
	-webkit-transition:all 0.4s;
	-moz-transition:all 0.4s;
}
.nav li:hover{
	opacity:1;
	height:90px;
}
.nav li.hm:hover{
	border-bottom:4px solid rgba(11, 132, 138, 1);
}
.nav li.fb:hover{
	border-bottom:4px solid rgba(241, 83, 70, 1);
}
.nav li.gp:hover{
	border-bottom:4px solid rgba(32, 16, 49, 1);
}
.nav li.tw:hover{
	border-bottom:4px solid rgba(228, 148, 7, 1);
}
.nav li.cl:hover{
	border-bottom:4px solid rgba(67, 138, 15, 1);
}
img.icon{
	background:rgba(255, 255, 255, 0.4);
	border-radius:100%;
	margin:10px auto;
	display:block;
	transition:all 0.8s;
	-webkit-transition:all 0.8s;
	-moz-transition:all 0.8s;
	box-shadow: 0 0 0 30px rgba(255,255,255,0.1);
	-webkit-box-shadow: 0 0 0 10px rgba(255,255,255,0.1);
}
img.iconh{
	background:rgba(255, 255, 255, 0.9);
	border-radius:100%;
	margin:30px auto;
	display:block;
	transition:all 0.8s;
	-webkit-transition:all 0.8s;
	-moz-transition:all 0.8s;
	box-shadow: 0 0 0 10px rgba(255,255,255,0.8);
	-webkit-box-shadow: 0 0 0 0 rgba(255,255,255,0.8);
}
.nav li:hover img.icon{
	background:rgba(255, 255, 255, 0.9);
	box-shadow: 0 0 0 10px rgba(255,255,255,0.8);
	-webkit-box-shadow: 0 0 0 0 rgba(255,255,255,0.8);
}
.nav li span{
	text-align:center;
	display:block;
	padding-top:10px;
	font-size: 17px;
	font-weight: 500;
	transition:padding-top 0.4s;
	-webkit-transition:padding-top 0.4s;
}
.nav li:hover span{
	padding-top:20px;
}
.hm, .fb, .gp, .tw, .cl{
	background:#D54635;
}

/*****************************************/


/*****************  Main Menu ***********************/

*{
	margin:0;
	padding:0;
	box-sizing:
}

ul li{
	list-style:none;
	margin: 5px 5px 5px 5px;
}
h1{
	padding:15px 0 25px 0;
	text-align:center;
	font-size: 15px;
	font-weight: 500;
}
.nav{
	overflow:hidden;
	margin:0 auto;
	width:75%;
}
.nav li{
	width:70px;
	height:70px;
	display:inline-block;
	float:left;
	cursor:pointer;
	transition:all 0.4s;
	-webkit-transition:all 0.4s;
	-moz-transition:all 0.4s;
}
.nav li:hover{
	opacity:1;
	height:80px;
}
.nav li.hm:hover{
	border-bottom:4px solid rgba(11, 132, 138, 1);
}
.nav li.fb:hover{
	border-bottom:4px solid rgba(241, 83, 70, 1);
}
.nav li.gp:hover{
	border-bottom:4px solid rgba(32, 16, 49, 1);
}
.nav li.tw:hover{
	border-bottom:4px solid rgba(228, 148, 7, 1);
}
.nav li.cl:hover{
	border-bottom:4px solid rgba(67, 138, 15, 1);
}
img.icon{
	background:rgba(255, 255, 255, 0.4);
	border-radius:100%;
	margin:10px auto;
	display:block;
	transition:all 0.8s;
	-webkit-transition:all 0.8s;
	-moz-transition:all 0.8s;
	box-shadow: 0 0 0 30px rgba(255,255,255,0.1);
	-webkit-box-shadow: 0 0 0 10px rgba(255,255,255,0.1);
}
img.iconh{
	background:rgba(255, 255, 255, 0.9);
	border-radius:100%;
	margin:30px auto;
	display:block;
	transition:all 0.8s;
	-webkit-transition:all 0.8s;
	-moz-transition:all 0.8s;
	box-shadow: 0 0 0 10px rgba(255,255,255,0.8);
	-webkit-box-shadow: 0 0 0 0 rgba(255,255,255,0.8);
}
.nav li:hover img.icon{
	background:rgba(255, 255, 255, 0.9);
	box-shadow: 0 0 0 10px rgba(255,255,255,0.8);
	-webkit-box-shadow: 0 0 0 0 rgba(255,255,255,0.8);
}
.nav li span{
	text-align:center;
	display:block;
	padding-top:0px;
	font-size: 17px;
	font-weight: 500;
	transition:padding-top 0.4s;
	-webkit-transition:padding-top 0.4s;
}
.nav li:hover span{
	padding-top:10px;
}
.hm,.fb, .gp, .tw, .cl{
	background:#E3E3E3;
}


/*****************************************/

/**************  Table  ***************/

/*** Table Styles **/

.table-fill {
  border-collapse: collapse;
  height: 100px;
  max-width: 200px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
  border-radius: 15px;
}
 
th {
  padding:19px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
  border: 1px solid #b7b7b7;
  background: #828282;
  color: #fff;
  border-color: #b7b7b7;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color:#666B85;
  font-size: 14px;
  font-weight: 500;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background: #ffffd3;
  background: -moz-linear-gradient(top, #ffffd3 0%, #ffffaf 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffd3), color-stop(100%, #ffffaf));
  background: -webkit-linear-gradient(top, #ffffd3 0%, #ffffaf 100%);
  background: -o-linear-gradient(top, #ffffd3 0%, #ffffaf 100%);
  background: -ms-linear-gradient(top, #ffffd3 0%, #ffffaf 100%);
  background: linear-gradient(to bottom, #ffffd3 0%, #ffffaf 100%);
  border-color: #bbb #aaa #ccc #aaa;
  border-style: solid dotted;
  cursor: pointer;
}

table tbody tr td:first-child {
  border-left-width: 1px;
}
table tbody tr td:last-child {
  border-right-width: 1px;
}

td {
  vertical-align: middle;
  text-align: center;
  padding: 10px 8px 8px;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #bbb #ccc #ccc #ccc;
  background: #fdfdfd;
  color: #6c6c6c;
}

td:first-child  {
  border-width: 1px 0 1px 0;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}


/************************************/


/********* Search *******/

#search-form {
	background: #e1e1e1; /* Fallback color for non-css3 browsers */
	width: 465px;
	
	/* Gradients */
	background: -webkit-gradient( linear,left top, left bottom, color-stop(0, rgb(243,243,243)), color-stop(1, rgb(225,225,225)));
	background: -moz-linear-gradient( center top, rgb(243,243,243) 0%, rgb(225,225,225) 100%);
	
	/* Shadows */
	box-shadow: 1px 1px 2px rgba(0,0,0,.3), 0 0 2px rgba(0,0,0,.3); 
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.3), 0 0 2px rgba(0,0,0,.3);
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,.3), 0 0 2px rgba(0,0,0,.3);
}

/*** TEXT BOX ***/
#searchtext {
	background: #fafafa; /* Fallback color for non-css3 browsers */
	
	/* Gradients */
	background: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(250,250,250)), color-stop(1, rgb(230,230,230)));
	background: -moz-linear-gradient( center top, rgb(250,250,250) 0%, rgb(230,230,230) 100%);
	
	border: 0;
	border-bottom: 1px solid #fff;
	border-right: 1px solid rgba(255,255,255,.8);
	font-size: 16px;
	margin: 4px;
	padding: 5px;
	width: 250px;
	
	/* Rounded Corners */
	border-radius: 17px; 
	-webkit-border-radius: 17px;
	-moz-border-radius: 17px;
	
	/* Shadows */
	box-shadow: -1px -1px 2px rgba(0,0,0,.3), 0 0 1px rgba(0,0,0,.2);
	-webkit-box-shadow: -1px -1px 2px rgba(0,0,0,.3), 0 0 1px rgba(0,0,0,.2);
	-moz-box-shadow: -1px -1px 2px rgba(0,0,0,.3), 0 0 1px rgba(0,0,0,.2);
}

/*** USER IS FOCUSED ON TEXT BOX ***/
#searchtext:focus{
	outline: none;
	background: #fff; /* Fallback color for non-css3 browsers */
	
	/* Gradients */
	background: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(255,255,255)), color-stop(1, rgb(235,235,235)));
	background: -moz-linear-gradient( center top, rgb(255,255,255) 0%, rgb(235,235,235) 100%);
}

/*** SEARCH BUTTON ***/
#searchsubmit {

	/* Gradients */
	background: #D54635;
	
	color: #eee;
	cursor: pointer;
	float: right;
	font-size:15px;
	font-weight: 500;
	height: 30px;
	margin: 4px 4px 0;
	text-shadow: 0 -1px 0 rgba(0,0,0,.3);
	width: 84px;
	
	/* Rounded Corners */
	border-radius: 30px; 

}
/*** SEARCH BUTTON HOVER ***/
#searchsubmit:hover {
	background: #FF8C27; /* Fallback color for non-css3 browsers */
	
	/* Gradients */
}
#searchsubmit:active {
	background: #FF8C27; /* Fallback color for non-css3 browsers */
	
	/* Gradients */
}

/*******************************************/

/******** Fixed Menu & Log0 ********/


.cd-header {
  position: fixed;
  z-index: 2;
}
.cd-header:after {
  content: "";
  display: table;
  clear: both;
}
.cd-header #cd-logo {
  float: left;
  margin: 13px 0 0 5%;
}
.cd-header #cd-logo img {
  display: block;
}
@media only screen and (min-width: 768px) {
  .cd-header {
    height: 70px;
  }
  .cd-header #cd-logo {
    margin: 23px 0 0 5%;
  }
}

/*******************************/




/*****************  Final Search ***********************/


.expanded{
  height:160px;
}


/* ==========================
   Search Box
   ========================== */

.searchTerm:focus {
  width: 575px;
  background-color:#fff;
  color: #000;
  opacity:1;
  -webkit-box-shadow:1px 1px 9px rgba(0,0,0,0.85);
  -moz-box-shadow:1px 1px 9px rgba(0,0,0,0.85);
  box-shadow:1px 1px 9px rgba(0,0,0,0.85);
  font-weight:800;
}

.searchTerm{
padding: 5px 10px;
color:#444;
border: 0;
width: 550px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow:1px 1px 5px rgba(0,0,0,0.65);
-moz-box-shadow:1px 1px 5px rgba(0,0,0,0.65);
box-shadow: 1px 1px 5px rgba(0,0,0,0.65);
outline: 0;
}

.searchBtn {
border: 0;
position: absolute;
width: 38px;
cursor: pointer;
margin: 2px -38PX;
border-left: 2px solid skyblue;
height: 26px;
font-weight: 900;
font-size: 12px;
background-color: #f6f5ef;
color:#009F8A;
-webkit-border-radius:0px 5px 5px 0px;
-moz-border-radius:0px 5px 5px 0px;
border-radius:0px 5px 5px 0px;
}

/* ==========================
   tooltip/hover popup
   ========================== */

.suggestionBox {
display:none;
background-color:white;
color: #3b3835;
border: 1px solid rgba(0,0,0,0.3);
border-top: 0;
float: left;
left: 0;
list-style: none;
margin: 20px;
padding: 8px;
position: absolute;
top: 31px;
width: 180px;
z-index: 1000;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
box-shadow: 0 1px 3px rgba(0,0,0,0.25);  
}

.suggestionBox:before {
content: '';
display: inline-block;
border-left: 7px solid transparent;
border-right: 7px solid transparent;
border-bottom: 7px solid #fff;
position: absolute;
top: -7px;
left: 9px;
}

.searchForm:nth-child(2){
 background-color:#fff;
}

.searchForm:nth-child(2) .suggestionBox{
background:skyblue;
color:white;
}

.searchForm:nth-child(2) .suggestionBox::before {
  border-bottom: 7px solid skyblue;
}

.searchForm:nth-child(3){
 background-color:gray;
}

.searchForm:nth-child(3) .suggestionBox{
background:beige;
color:black;
}

searchForm:nth-child(3) .suggestionBox::before {
  border-bottom: 7px solid beige;
}

.searchForm:nth-child(4){
 background-color:#333;
}

.searchForm:nth-child(4) .suggestionBox{
background:#859ce6;
color:white;
}

.searchForm:nth-child(4) .suggestionBox::before {
  border-bottom: 7px solid #859ce6;
}

/*******************************/
