﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ThroatChart.ascx.cs" Inherits="Mediplus.EMR.ENT.ThroatChart" %>
<input type="hidden" id="hidSegmentType" runat="server" value="THROATC" />

<table>

    <tr>
        <td>
                <iframe id="ImageEditorPDC" runat="server" src="../Department/OpenDepartmentalImage.aspx?ImageType=<%=SegmentType %>" style="width:100%;height:600px"></iframe>      

        </td>
    </tr>
   
</table>