﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="DisplayScanImage.ascx.cs" Inherits="Mediplus.EMR.Ophthalmology.DisplayScanImage" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>

    <link href="../Styles/style.css" rel="Stylesheet" type="text/css" />
    <style type="text/css">
        .box-header
        {
            border-bottom: 4px solid #f4fbfd;
            height: 70px;
        }

        .box-title
        {
            padding-bottom: 5px;
            border-bottom: 4px solid #92c500;
            float: left;
            font-size: 1.5em;
            color: #2078c0;
        }

        h1, h2, h3, h4, h5, h6
        {
            font-size: 100%;
            font-weight: normal;
            font-family: "Segoe UI", Arial, Helvetica, sans-serif;
        }

        .BorderStyle
        {
            border-style:none;
        }
    </style>

    <script language="javascript">


        function ConfirmDelete() {

            var varConfirm = window.confirm('Are you sure you want to Delete ? ');

            return varConfirm;

        }
    </script>
    <table width="100%">
        <tr>
            <td>

            </td>
            <td>
                <asp:Button ID="btnDelete" runat="server" CssClass="button orange small" Text="Delete"  OnClick="btnDelete_Click" OnClientClick="return ConfirmDelete();"  />
            </td>
        </tr>
        <tr>
            <td style="width: 30%" valign="top">
             <asp:UpdatePanel ID="UpdatePanel1" runat="server">
                <ContentTemplate>
                <asp:TreeView ID="MyTree" Width="200px"    OnSelectedNodeChanged="MyTree_SelectedNodeChanged"
                    PathSeparator="|" 
                    ExpandDepth="0"
                    runat="server" ImageSet="Arrows"
                    AutoGenerateDataBindings="False">
                    <SelectedNodeStyle Font-Underline="True"
                        HorizontalPadding="0px" VerticalPadding="0px" ForeColor="#5555DD"></SelectedNodeStyle>
                    <NodeStyle VerticalPadding="0px" Font-Names="Tahoma" Font-Size="10pt"
                        HorizontalPadding="5px" ForeColor="#000000" NodeSpacing="0px"></NodeStyle>
                    <ParentNodeStyle Font-Bold="False"    />
                    <HoverNodeStyle Font-Underline="True" ForeColor="#5555DD"></HoverNodeStyle>
                </asp:TreeView>
               </ContentTemplate>
             </asp:UpdatePanel>
           
            </td>
            <td style="width: 70%"  valign="top">
                 <asp:UpdatePanel ID="UpdatePanel2" runat="server">
                <ContentTemplate>
                  <iframe id="ImageEditorPDC" runat="server" style="width:100%;height:300px"  class="BorderStyle"   ></iframe>      

                 </ContentTemplate>
             </asp:UpdatePanel>
               
            </td>
        </tr>
    </table>

