﻿<%@ Page Language="C#"  MasterPageFile="~/Site2.Master"  AutoEventWireup="true" CodeBehind="DeptHome.aspx.cs" Inherits="Mediplus.DeptHome" %>
<%@ register assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagprefix="asp" %>
 

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <title></title>
      <script src="Scripts/jquery-1.4.1-vsdoc.js" type="text/javascript"></script>
    <script src="Scripts/jquery-1.4.1.js" type="text/javascript"></script>

    <link href="Styles/Maincontrols.css" rel="stylesheet" type="text/css" />
    <link href="Styles/Style.css" rel="stylesheet" type="text/css" />
    <link href="Styles/Datagrid.css" rel="stylesheet" type="text/css" />

      <link href="../Styles/Maincontrols.css" rel="stylesheet" type="text/css" />
    <link href="../Styles/Datagrid.css" rel="stylesheet" type="text/css" />
    <link href="../Styles/style.css" rel="Stylesheet" type="text/css" />

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
         <input type="hidden" id="hidPermission" runat="server" value="9" />
   <table cellpadding="0" cellspacing="0" width="100%">
            <tr>

                <td style="padding-right: 0px; padding-top: 0px; width: 150px; vertical-align: top;">
                    
                </td>
                  <td style="vertical-align:top;padding:7px;">

                       </td>
            </tr>
        </table>
    <div>
    
    </div>
 </asp:Content>