﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="PatientMalaffiDtls.aspx.cs" Inherits="Mediplus.PatientMalaffiDtls" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
</head>
<body runat="server"  id="bodySSO"  >
    <form id="frmIdPLauncher" runat="server" method="post"  action="https://clinicalportal-uat.malaffi.ae/login-auth/saml?path=%2fpatient%2fauth-token%2fportal-context">
    <div>
    
        <div>
            <input id="SAMLResponse" type="text" runat="server" enableviewstate="False"  />
            <%-- <input id="RelayState" type="text" runat="server" enableviewstate="False" />--%>
        </div>
                
    </div>
    </form>
</body>
</html>
