﻿
/*****************  Main Menu ***********************/
*{
	margin:0;
	padding:0;

}

ul li{
	list-style:none;
	margin: 5px 5px 5px 5px;
}
h1{
	padding:15px 0 25px 0;
	text-align:center;
	font-size: 15px;
	font-weight: 500;
}
.nav{
	overflow:hidden;
	margin:0 auto;
	width:80%;
}


.nav li{
	width:50px;
	height:45px;
	display:inline-block;
	float:left;
	cursor:pointer;
	transition:all 0.4s;
	-webkit-transition:all 0.4s;
	-moz-transition:all 0.4s;
} 


.nav li:hover{
	opacity:1;
	height:50px;
}
.nav li.hm:hover{
	border-bottom:4px solid rgba(11, 132, 138, 1);
    
}
.nav li.fb:hover{
	border-bottom:4px solid rgba(241, 83, 70, 1);
}
.nav li.gp:hover{
	border-bottom:4px solid rgba(32, 16, 49, 1);
}
.nav li.tw:hover{
	border-bottom:4px solid rgba(228, 148, 7, 1);
}
.nav li.cl:hover{
	border-bottom:4px solid rgba(67, 138, 15, 1);
}





/*---------------------------------------*/
/* Dropdown Content (Hidden by Default) */
.Masdropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    overflow:hidden;
}

/* Links inside the Masdropdown */
.Masdropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.Masdropdown-content a:hover {
    background-color: #a6a6a6; /*#D64535;*/  /*#f1f1f1*/
    color:#ffffff;
}


.nav li.ma:hover .Masdropdown-content {
    display: block;
     
}

.nav li.ma:hover{
	border-bottom:4px solid rgba(228, 148, 7, 1);
}

/*---------------------------------------*/
/*---------------------------------------*/

/* Dropdown Content (Hidden by Default) */
.Labdropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    overflow:hidden;
}

/* Links inside the dropdown */
.Labdropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.Labdropdown-content a:hover {
    background-color:  #a6a6a6; /*#D64535;*/  /*#f1f1f1*/
    color:#ffffff;
}


.nav li.la:hover .Labdropdown-content{
    display: block;
     
}

.nav li.la:hover {
     border-bottom:4px solid rgba(228, 148, 7, 1);
}

/*---------------------------------------*/
/*---------------------------------------*/


/* Dropdown Content (Hidden by Default) */
.Raddropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    overflow:hidden;
}

/* Links inside the dropdown */
.Raddropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.Raddropdown-content a:hover {
    background-color:  #a6a6a6; /*#D64535;*/  /*#f1f1f1*/
    color:#ffffff;
   
}


.nav li.ra:hover .Raddropdown-content{
    display: block;
    
}

.nav li.ra:hover {
    border-bottom:4px solid rgba(11, 132, 138, 1);
}

/*---------------------------------------*/
/*---------------------------------------*/


/* Dropdown Content (Hidden by Default) */
.Accdropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    overflow:hidden;
}

/* Links inside the dropdown */
.Accdropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.Accdropdown-content a:hover {
    background-color:  #a6a6a6; /*#D64535;*/  /*#f1f1f1*/
    color:#ffffff;
   
}


.nav li.Acc:hover .Accdropdown-content{
    display: block;
    
}

.nav li.Acc:hover {
    border-bottom:4px solid rgba(11, 132, 138, 1);
}

/*---------------------------------------*/



/*---------------------------------------*/


/* Dropdown Content (Hidden by Default) */
.Invdropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    overflow:hidden;
}

/* Links inside the dropdown */
.Invdropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.Invdropdown-content a:hover {
    background-color:  #a6a6a6; /*#D64535;*/  /*#f1f1f1*/
    color:#ffffff;
   
}


.nav li.Inv:hover .Invdropdown-content{
    display: block;
    
}

.nav li.Inv:hover {
    border-bottom:4px solid rgba(11, 132, 138, 1);
}

/*---------------------------------------*/


.hm,.fb, .gp, .tw, .cl,.la,.ra,.ma,.Acc,.Inv{
	background:#E3E3E3;
}
.defaultIconColor{
	background:#E3E3E3;
}