﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site2.Master" AutoEventWireup="true" CodeBehind="ScannedImagesList.aspx.cs" Inherits="Mediplus.EMR.Scans.ScannedImagesList" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
  
    <link href="../../Styles/style.css" rel="Stylesheet" type="text/css" />
    <link href="../../Styles/style.css" rel="Style" type="text/css" />
    <script src="../../Scripts/jquery-1.4.1-vsdoc.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery-1.4.1.js" type="text/javascript"></script>

    
    
     <script src="../../Scripts/AccordionScript.js"></script>
     <link rel="stylesheet" href="../../Styles/Accordionstyles.css">

    <link href="../Styles/style.css" rel="stylesheet" type="text/css" />

    <link href="../Styles/Maincontrols.css" rel="stylesheet" type="text/css" />
     <link href="../Styles/Datagrid.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .box-header
        {
            border-bottom: 4px solid #f4fbfd;
            height: 70px;
        }

        .box-title
        {
            padding-bottom: 5px;
            border-bottom: 4px solid #92c500;
            float: left;
            font-size: 1.5em;
            color: #2078c0;
        }

        h1, h2, h3, h4, h5, h6
        {
            font-size: 100%;
            font-weight: normal;
            font-family: "Segoe UI", Arial, Helvetica, sans-serif;
        }
        .NodeStyle
        {
           width:150px;
           font-family: "Segoe UI", Verdana,Arial,sans-serif;
           font-size:10pt;
           color:#000000;
           word-wrap:break-word;
        }
    </style>

    <script language="javascript" type="text/javascript">

        function ShowAttachment(PTID, FileName, Parent1, Parent2) {
            var win = window.open('DisplayScannedAttachments.aspx?PT_ID=' + PTID + '&FileName=' + FileName + '&Parent1=' + Parent1 + '&Parent2=' + Parent2, 'Attach', 'menubar=no,left=100,top=100,height=900px,width=1100px,scrollbars=1')
            win.blur();
            win.focus();
            return true;

        }



        function ConfirmDelete() {

            var varConfirm = window.confirm('Are you sure you want to Delete ? ');

            return varConfirm;

        }
    </script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Scanned Documents </h3>
        </div>
    </div>
    <br />
    <br />
    <br />

    <table width="100%">
        <tr>
            <td>

            </td>
            <td >
            </td>
            <td style="text-align:right;">
                   <asp:UpdatePanel ID="UpdatePanel3" runat="server">
                <ContentTemplate>
                  <asp:Button ID="btnZoom" runat="server"  CssClass="button orange small" Text="Zoom" OnClick="btnZoom_Click" />
                     </ContentTemplate>
             </asp:UpdatePanel>
            </td>
        </tr>
        <tr>
            <td style="width: 25%" valign="top">
             <asp:UpdatePanel ID="UpdatePanel1" runat="server">
                <ContentTemplate>
                <asp:TreeView ID="MyTree" Width="100px"   OnSelectedNodeChanged="MyTree_SelectedNodeChanged" NodeStyle-Width="150px" 
                    PathSeparator="|"  
                    ExpandDepth="0"
                    runat="server" ImageSet="Arrows"
                    AutoGenerateDataBindings="False">
                    <SelectedNodeStyle Font-Underline="True"
                        HorizontalPadding="0px" VerticalPadding="0px" ForeColor="#5555DD"></SelectedNodeStyle>
                    <NodeStyle VerticalPadding="0px"     CssClass="NodeStyle"
                        HorizontalPadding="5px"   NodeSpacing="0px"></NodeStyle>
                    <ParentNodeStyle Font-Bold="False"  Width="150px"  />
                    <HoverNodeStyle Font-Underline="True" ForeColor="#5555DD" Width="150px"></HoverNodeStyle>
                </asp:TreeView>
               </ContentTemplate>
             </asp:UpdatePanel>
           
            </td>
            <td style="width: 75%"  valign="top" colspan="2" >
                 <asp:UpdatePanel ID="UpdatePanel2" runat="server">
                <ContentTemplate>
                  <iframe id="ImageEditorPDC" runat="server" style="width:100%;height:600px" ></iframe>      

                 </ContentTemplate>
             </asp:UpdatePanel>
            
            </td>
        </tr>
    </table>
</asp:Content>
