﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site2.Master" AutoEventWireup="true" CodeBehind="ScanList.aspx.cs" Inherits="Mediplus.EMR.Scans.ScanList" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
   
    <link href="../../Styles/style.css" rel="Stylesheet" type="text/css" />
    <link href="../../Styles/style.css" rel="Style" type="text/css" />
    <script src="../../Scripts/jquery-1.4.1-vsdoc.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery-1.4.1.js" type="text/javascript"></script>

    
    
     <script src="../../Scripts/AccordionScript.js"></script>
     <link rel="stylesheet" href="../../Styles/Accordionstyles.css">

    <link href="../Styles/style.css" rel="stylesheet" type="text/css" />

    <link href="../Styles/Maincontrols.css" rel="stylesheet" type="text/css" />
     <link href="../Styles/Datagrid.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .box-header
        {
            border-bottom: 4px solid #f4fbfd;
            height: 70px;
        }

        .box-title
        {
            padding-bottom: 5px;
            border-bottom: 4px solid #92c500;
            float: left;
            font-size: 1.5em;
            color: #2078c0;
        }

        h1, h2, h3, h4, h5, h6
        {
            font-size: 100%;
            font-weight: normal;
            font-family: "Segoe UI", Arial, Helvetica, sans-serif;
        }
    </style>

    <script language="javascript" type="text/javascript">

        function ShowAttachment(PTID, FileName,Parent1,Parent2) {
            var win = window.open('DisplayAttachments.aspx?PT_ID=' + PTID + '&FileName=' + FileName +'&Parent1=' + Parent1 + '&Parent2=' + Parent2, 'Attach', 'menubar=no,left=100,top=100,height=900px,width=1100px,scrollbars=1')
            win.blur();
            win.focus();
            return true;

        }
       


            function ConfirmDelete() {

                var varConfirm = window.confirm('Are you sure you want to Delete ? ');

                return varConfirm;

            }
    </script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <br />
    <table width="80%">
        <tr>
            <td>

            </td>
            <td >
                <asp:Button ID="btnDelete" runat="server" CssClass="button red small" Text="Delete"  OnClick="btnDelete_Click" OnClientClick="return ConfirmDelete();"  />
            </td>
            <td>
                <asp:Button ID="btnPrev" runat="server" CssClass="button gray small" Text="<<"  OnClick="btnPrev_Click"   />
               <asp:Button ID="btnNext" runat="server" CssClass="button gray small" Text=">>"  OnClick="btnNext_Click"   />

            </td>
            <td style="text-align:right;">
                   <asp:UpdatePanel ID="UpdatePanel3" runat="server">
                <ContentTemplate>
                  <asp:Button ID="btnZoom" runat="server"  CssClass="button gray small" Text="Zoom" OnClick="btnZoom_Click" />
                     </ContentTemplate>
             </asp:UpdatePanel>
            </td>
        </tr>
        <tr>
            <td style="width: 25%" valign="top">
                 <div style="padding-top: 0px; width: 100%;height:600px;  overflow: auto; border: thin; border-color: #f6f6f6; border-style: groove;">
             <asp:UpdatePanel ID="UpdatePanel1" runat="server">
                <ContentTemplate>
                <asp:TreeView ID="MyTree" Width="100px"    OnSelectedNodeChanged="MyTree_SelectedNodeChanged"   
                    PathSeparator="|" 
                    ExpandDepth="0"
                    runat="server" ImageSet="Arrows"
                    AutoGenerateDataBindings="False">
                    <SelectedNodeStyle Font-Underline="True"
                        HorizontalPadding="0px" VerticalPadding="0px" ForeColor="#5555DD"></SelectedNodeStyle>
                    <NodeStyle VerticalPadding="0px" Font-Names="Tahoma" Font-Size="10pt"
                        HorizontalPadding="5px" ForeColor="#000000" NodeSpacing="0px"></NodeStyle>
                    <ParentNodeStyle Font-Bold="False"    />
                    <HoverNodeStyle Font-Underline="True" ForeColor="#5555DD"></HoverNodeStyle>
                </asp:TreeView>
               </ContentTemplate>
             </asp:UpdatePanel>
           </div>
            </td>
            <td style="width: 75%"  valign="top" colspan="2" >
                 <asp:UpdatePanel ID="UpdatePanel2" runat="server">
                <ContentTemplate>
                  <iframe id="ImageEditorPDC" runat="server" style="width:100%;height:600px;border:solid;border-width:thin;" ></iframe>      

                 </ContentTemplate>
             </asp:UpdatePanel>
            
            </td>
        </tr>
    </table>
</asp:Content>
