﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="TherapyChart.ascx.cs" Inherits="Mediplus.EMR.Physiotherapy.TherapyChart" %>


<table>

    <tr>
        <td>
                <iframe id="ImageEditorPDC" runat="server" src="../Department/OpenDepartmentalImage.aspx?ImageType=<%=SegmentType %>" style="width:100%;height:600px"></iframe>      

        </td>
    </tr>
   
</table>
<br />
